header {
  background-color: #ee4540 !important;
  height: 8vh; }
  header nav {
    background-color: #ee4540 !important;
    font-family: "Staatliches", cursive !important;
    color: white !important;
    height: 8vh; }
    header nav ul {
      background-color: #ee4540 !important; }
    header nav li a {
      color: white !important; }
    header nav li:hover {
      background-color: #c72c41; }

#intro {
  background-color: #44000d;
  height: 100vh;
  background-image: url("banner2.jpg");
  background-size: cover;
  background-position: center; }
  #intro h1 {
    font-size: 5em;
    font-family: "Staatliches", cursive;
    font-weight: bold;
    -webkit-text-stroke: 2px red !important; }

#my-work {
  height: auto; }
  #my-work .baslik2 {
    text-align: center !important;
    font-size: 5em;
    opacity: 1; }
  #my-work i {
    font-size: 50px;
    color: #44000d; }
  #my-work h1 {
    color: #44000d; }
  #my-work h3 {
    color: #ee4540 !important; }
  #my-work .box div {
    border: 2px solid #44000d; }

#portfolyomuz {
  background-color: #44000d;
  height: auto;
  color: white; }
  #portfolyomuz .baslik {
    color: black;
    margin-top: -50px !important; }
  #portfolyomuz .baslik2 {
    text-align: center;
    color: black;
    font-size: 5em;
    opacity: 0.2;
    font-family: "Staatliches", cursive; }
  #portfolyomuz .portfolyomuz {
    /* This container is needed to position the front and back side */
    /* Do an horizontal flip when you move the mouse over the flip box container */
    /* Position the front and back side */
    /* Style the front side (fallback if image is missing) */
    /* Style the back side */ }
    #portfolyomuz .portfolyomuz .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      border: 3px solid #ffffff;
      perspective: 1000px;
      /* Remove this if you don't want the 3D effect */ }
    #portfolyomuz .portfolyomuz .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }
    #portfolyomuz .portfolyomuz .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg); }
    #portfolyomuz .portfolyomuz .flip-card-front, #portfolyomuz .portfolyomuz .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100% !important;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden; }
    #portfolyomuz .portfolyomuz .flip-card-front {
      background-color: white;
      color: black; }
    #portfolyomuz .portfolyomuz .flip-card-back {
      background-color: #ee4540;
      color: white;
      transform: rotateY(180deg); }

#skill {
  height: auto !important; }
  #skill .baslik2 {
    opacity: 0.6;
    color: #44000d;
    font-size: 4em; }
  #skill .baslik {
    color: #44000d !important;
    margin-top: -30px; }

#about {
  background-image: url("about-bg.jpg");
  background-size: cover;
  height: auto; }

@media (max-width: 768px) {
  #about {
    background-position: center; } }
#social .box {
  width: auto;
  height: auto;
  transition: 0.3s; }
  #social .box:hover {
    background-color: black !important;
    transition: 0.3s; }
#social .box1 {
  background-color: #3A589E !important; }
#social .box2 {
  background-color: #60A9DE !important; }
#social .box3 {
  background-color: #CE3F4E !important; }
#social i {
  font-size: 50px;
  color: white; }

#contact-form {
  color: white; }
  #contact-form form {
    background-color: #ee4540; }
  #contact-form button {
    color: white;
    border: 2px solid white; }
    #contact-form button:hover {
      color: #44000d;
      background-color: white; }

footer {
  color: white;
  background-color: #ee4540; }
  footer a {
    color: white; }

/*# sourceMappingURL=style.css.map */
